<h2>Log In</h2>

        <form action="/sessions" method="POST">

            <label for="user_email">Email:</label>
            <input type="text" name="user_email" id="user_email" />

            <label for="password">Password:</label>
            <input type="password" name="password" id="password" />

            <input type="submit" value="Sign In"/>
        </form>

        <% if flash.has?(:invalid_log_in) %>
          <%= flash[:invalid_log_in] %>
        <% end %>
        
        <br>
        <a href= "/signup">Not Registered? Sign Up</a>
