  <h2>Your Recipes</h2>
  <h3>Click a Recipe Below to View and/or Update</h3>

  <% if flash.has?(:no_access) %>
    <%= flash[:no_access] %>
  <% end %>

  <ul>
        <% @recipes.each do |recipe| %>
        <% if recipe.user == current_user %>
        <li><a href= "/recipes/<%=recipe.id%>"> <%= recipe.name %> </a> | <%= recipe.meal_type%></li> <br>
        <% end %>
        <% end %>
        </ul>
