<!DOCTYPE html>
<body>
<h1>Recipe Index</h1>
<p>
<% @recipes.each do |recipe| %>
<a href= "/recipes/<%=recipe.id%>"> <%= recipe.name %> </a> | <%= recipe.meal_type%> <br>

<% end %></p>
</body>
</html>
