<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Recipe Box New Recipe</title>
      <!-- Link to style sheet -->
  </head>
  <body>
    <header>
      <!--photo? -->
      <h1>Recipe Box</h1>

      <nav>
        <a href= "/recipes">All Recipes</a> <a href="/logout">Log Out</a>
      </nav>
      </header>
      <br>

      <h2>Add a New Recipe</h2>

      <section id= "new recipe form">
      <form method="POST" action="/recipes">

        <label for "name">Recipe Name: </label>
        <input type= "text" name="recipe[name]">
        <br>
        <label for "meal_type">Meal Type: </label>
        <input type= "text" name="recipe[meal_type]">
        <br>
        <label for "main_ingrediant">Main Ingredient: </label>
        <input type= "text" name="recipe[main_ingrediant]">
        <br>
        <label for "instructions">Instructions: </label>
        <textarea name="recipe[instructions]"></textarea>
        <br>
        <label for "notes">Notes: </label>
        <textarea name="recipe[notes]"></textarea>
        <br>
        <input type= "submit" value="Submit">
      </form>
    </body>
  </html>
