  <h2>Sign Up</h2>

      <%= "Must include email and password" if @user && @user.errors.any? %>


      <form action="/users" method="POST">

        <label for="user_email">Email:</label>
        <input type="text" name="user_email" id="user_email" />

        <label for="password">Password:</label>
        <input type="password" name="password" id="password" />

        <input type="submit" value="Sign Up"/>
      </form>
      <br>
      <% if flash.has?(:invalid_sign_up) %>
        <%= flash[:invalid_sign_up] %>
      <% end %>
