<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Recipe Box Sign Up</title>
      <!-- Link to style sheet -->
  </head>
  <body>
    <header>
      <!--photo? -->
      <h1>Recipe Box</h1>

      <nav>
        <a href="/sessions/login.erb">Log In</a>
      </nav>
      </header>
      <br>

      <h2>Sign Up</h2>

      <%= "Must include email and password" if @user && @user.errors.any? %>

      <secion id="sign up form">
      <form action="/users" method="POST">

        <label for="user_email">Email:</label>
        <input type="text" name="user_email" id="user_email" />

        <label for="password">Password:</label>
        <input type="password" name="password" id="password" />

        <input type="submit" value="Sign Up"/>
      </form>
      </section>

    </html>
