<!DOCTYPE html>
<html>
<head>
<link href="<%= url('/styles.css') %>" type="text/css" rel="stylesheet" />
</head>

  <body>
    <h1>Recipe Box</h1>

    <nav>
      <% if logged_in? %>

        <a href="/recipes">Home </a>
        <a href="/recipes/new"> Create Recipe </a>
        <a href= "/logout"> Log Out </a>
        <p>Welcome, <%=current_user.user_email %></p>

      <% else %>
        <a href="/signup"> Sign Up</a>
        <a href="/login"> Sign In </a>
      <% end %>

    </nav>

      <%= yield %>

    </body>
</html>
