<html>
    <head>
    <link href="style.css" rel="stylesheet" type="text/css" />
    </head>

      <body>

        <h1>Recipe Box</h1>

        <nav>
          <% if logged_in? %>

            <a href="/recipes">Home </a>
            <a href="/recipes/new"> Create Recipe </a>
            <a href="/logout"> Log Out </a>
            <p>Welcome, <%=current_user.user_email %></p>

          <% else %>
            <a href="/signup"> Sign Up</a>
            <a href="/login"> Sign In </a>
          <% end %>

        </nav>

          <%= yield %>

        </body>
  </html>
